{% extends 'base.html' %}

{% block title %} Expense Tracker {% endblock %}

{% block content %}
<div  class="container-fluid">
<br><br>
<div style="margin:auto; text-align: center;" class="row">

<div class="col-md-6 col-xs-12">
<h1 style="font-size: 70px;" class="text-light">The Expense Tracking App For The Digital Age</h1>
<h2 style="font-size: 40px; color: lightgrey;" >Track your daily expenses with ease. Track your expenses manually or automatically 
    with our Receipt OCR Technology.
</h2>
</div>

<div style="background: url('/static/expense_tracker.jpg') no-repeat; width: 500px;
height: 550px; color:white;" class="col-md-6 col-xs-12">
<br><br><br><br><br>
   <h2>Automate Your Expense Tracking With Our Cutting Edge Receipt OCR Automation Technology</h2>
<br>
   <a href="{% url 'account_signup' %}" class="btn btn-primary btn-lg">Sign Up to Get Started!</a>
    
</div>



</div>





</div>




{% endblock %}